/* ===== FONT GOOGLE ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");

/* ===== Add the Tailwind directives to your CSS ===== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== REUSABLE CSS CLASS ===== */
@layer components {
  /* section class */
  .section {
    @apply pt-32 pb-16;
  }
  .section-title {
    @apply text-[36px] text-gray-900 font-semibold leading-tight pb-4;
  }
  .section-text {
    @apply text-[15px] text-gray-600 leading-loose pb-8;
  }

  /* button class */
  .button {
    @apply h-[55px] flex justify-center items-center py-4 px-8 bg-transparent rounded-full ring-[1.5px] ring-[rgba(0,0,0,0.3)] text-[15px] text-gray-900 font-semibold uppercase transition-all duration-300 hover:bg-gray-900 hover:ring-gray-900 hover:text-white;
  }

  /* container class */
  .container {
    @apply max-w-[1120px] w-[calc(100%-3rem)] mx-auto;
  }
}

/* ===== HEADER SECTION ===== */
@media screen and (max-width: 767px) {
  .header__menu {
    @apply fixed w-[85%] top-28 left-0 right-0 mx-auto text-center p-8 bg-gray-100 rounded-3xl transition-all duration-300 opacity-0 scale-y-0 origin-top;
  }
}
.header__link {
  @apply text-[15px] text-gray-900 font-medium uppercase hover:text-purple-700;
}
/* SHOW MENU */
.header__menu.show-menu {
  @apply opacity-100 scale-y-100;
}
/* STICKY HEADER */
.header.sticky-action {
  @apply shadow-[0_2px_12px_rgba(0,0,0,0.1)];
}

/* ===== HOME SECTION ===== */
.home__trusted-list {
  @apply inline-flex items-center gap-2;
}
.home__trusted-star {
  @apply inline-flex text-[1.2rem] text-yellow-400;
}
